button{height: 25px; width: 150px; background-color: forestgreen; border: 5px solid; border-radius: 10px; transition-property: all; transition-duration: 1s; transition-timing-function: ease-in-out; transition-delay: 0s;}
button:hover{height: 30px; width: 160px; background-color: lightcoral;}
button:active{height: 30px; width: 160px; background-color: red;}