.heading{background-color: yellowgreen; text-decoration: underline;}
#heading1{text-decoration-style: dashed;}
#heading2{text-decoration-style: double;}
#heading3{text-decoration-style: solid;}
#heading4{text-decoration-style: wavy;}