.heading{background-color: yellowgreen; text-decoration: underline; text-decoration-style: double;}
#heading1{text-decoration-color: red;}
#heading2{text-decoration-color: green;}
#heading3{text-decoration-color: blue;}
#heading4{text-decoration-color: fuchsia;}