*{margin: 0; padding: 0;}
.background{color: #70703d; background-color: #d30707;}
#first{background-color: #ff0000;}
#second{background-color: #00ff00;}
#third{background-color: #0000ff;}
#fourth{background-color: #402ae9;}